@import url(https://fonts.googleapis.com/css?family=Electrolize);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    --btn-color: red; 
}

.space {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(500px, 90%);
	position: relative;
	letter-spacing: 0.125em;
	line-height: 1;
	color: white;
	padding: 10px;
	background: none;
    border: 2px solid red;
    border-radius: 100px;
    cursor: pointer;
}

.space:hover {
    font-weight: 600;
}

.page {
    width: 100vw;
    height: 100vh;
    background: rgb(60,60,60);
    background: -moz-linear-gradient(151deg, rgba(60,60,60,1) 0%, rgba(25,25,25,1) 100%);
    background: -webkit-linear-gradient(151deg, rgba(60,60,60,1) 0%, rgba(25,25,25,1) 100%);
    background: linear-gradient(151deg, rgba(60,60,60,1) 0%, rgba(25,25,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#191919",GradientType=1);
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.toptitle {
    margin-top: 20px;
    text-align: center;
}

.bottomtitle {
    margin-bottom: 20px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.leaderpage .toptitle {
    margin-bottom: 20px;
}

.tables {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firsttable {
    margin-bottom: 50px;
}

.leaderboard {
    height: min(200px, calc(25vh));
    background-color: rgb(75, 75, 75);
    width: 1500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid red;
}

.tabletitle {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toprow {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 50px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.row {
    height: 100px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,1fr);
}

.column {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.mainpage {
    justify-content: space-between;
}

.h1 {
    font-size: 4rem;
}

.h2 {
    font-size: 2rem;
}

.cluster {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rule {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.flag {
    max-width: 90%;
    max-height: 50vh;
}

.color {
    position: absolute;
    --size: 100px;
    top: 50vh;
    transform: translateY(-50%);
    height: var(--size);
    width: var(--size);
    border-radius: 1000px;
    z-index: 0;
    animation: ChangeColor 1s ease;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers {
    min-height: 20vh;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    z-index: 1;
}

.answer {
    font-size: 1.5rem;
    background-color: #DBE2EF;
    width: min(400px, 90%);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color ease 0.5s;
    text-align: center;
    z-index: 1;
}

.answer:hover {
    cursor: pointer;
    background-color: #F9F7F7;
    border: 3px solid black;
}

.aa {
    width: 75px;
    height: 75px;  
}

.playboxes {
    display: flex;
    gap: 20px;
}

.playbox {
    margin-bottom: 20px;
    --size: 75px;
    min-width: var(--size);
    min-height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}

main .playbox, .leaderpage .playbox {
    margin-top: 20px;
}

i {
    scale: 2;
}

.leaderpage i {
    scale: 1.75;
}

.stats {
    border: 2px solid red;
    height: calc(100vh - 135px);
    width: min(90%,300px);
    background-color: rgb(75, 75, 75);
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats > h1 {
    margin-top: 10px;
}

.statscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.scorestat {
    min-height: 40px;
    margin-top: 20px;
}

.correctanimation {
    animation-name: correctanimation;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes correctanimation {
    0% {
        scale: 1;
        color: white;
    }
    50% {
        scale: 1.333;
        color: rgb(0, 255, 0);
    }

    100% {
        scale: 1;
        color: white;
    }
}

.wronganimation {
    animation-name: wronganimation;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes wronganimation {
    0% {
        scale: 1;
        color: white;
    }
    50% {
        scale: 1.333;
        color: rgb(255, 0, 0);
    }

    100% {
        scale: 1;
        color: white;
    }
}


.settings {
    height: 50%;
    width: min(300px, 90%);
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.generalsettings {
    position: absolute;
    top: 0;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingstitle {
    text-align: center;
}

.titles {
    min-height: 55px;
    font-size: 3rem;
    text-align: center;
}

.modes {
    background-color: rgb(120, 120, 120);
    outline: none;
    border: none;
    border-radius: 100px;
    width: 50%;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
}

.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
}

@media (max-width:1666.667px) {
    .leaderboard {
        width: 90%;
    }
}

@media (max-height:700px) {

    .settings {
        justify-content: space-evenly;
    }
    
    .generalsettings {
        position: relative;
    }

    .custom {
        gap: 10px;
    }

    .answer p {
        font-size: 1.2rem;
    }
    
}

@media (max-height:350px) {

    .stats > h1 {
        font-size: 1rem;
    }

    .statscontainer {
        font-size: 0.5rem;
        gap: 5px;
    }

    .stats {
        margin-top: 10px;
        margin-bottom: 0px;
        height: calc(100vh - 105px);
    }

    .playbox {
        margin-bottom: 10px;
        --size: 50px;
        width: min(var(--size), 90%);
    }

    i {
        scale: 1.333;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none; /* Safari 3.1+ */ -moz-user-select: none; /* Firefox 2+ */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Standard syntax */ -webkit-user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
}
*:focus {
    outline: none !important;
}




::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }

  nextjs-portal {
    display: none;
  }

  input[type="range"] {
    accent-color: red;
  }